name: Build Plugin
on:
  push:
  pull_request:
env:
  # Stop wasting time caching packages
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  # Disable sending usage data to Microsoft
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  PLUGIN_NAME: Lidarr.Plugin.Deemix
  PLUGIN_VERSION: 1.0.0.${{ github.run_number }}
  MINIMUM_LIDARR_VERSION: 1.0.0.2344
jobs:
  build:
    strategy:
      matrix:
        framework: [ net5.0 ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.402
      - name: Update Version Info
        run: |
          echo $PLUGIN_VERSION
          sed -i'' -e "s/<AssemblyVersion>[0-9.*]\+<\/AssemblyVersion>/<AssemblyVersion>$PLUGIN_VERSION<\/AssemblyVersion>/g" src/Directory.Build.props
          sed -i'' -e "s/<AssemblyConfiguration>[\$()A-Za-z-]\+<\/AssemblyConfiguration>/<AssemblyConfiguration>${GITHUB_REF#refs/heads/}<\/AssemblyConfiguration>/g" src/Directory.Build.props
          sed -i'' -e "s/<AssemblyVersion>[0-9.*]\+<\/AssemblyVersion>/<AssemblyVersion>$MINIMUM_LIDARR_VERSION<\/AssemblyVersion>/g" src/Lidarr/src/Directory.Build.props
      - name: Build
        run: dotnet publish src/*.sln -c Release -f ${{ matrix.framework }}
      - name: Upload net core
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.framework }}
          path: ./${{ env.PLUGIN_NAME }}.${{ matrix.framework }}.zip
  publish:
    needs: build
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact (net5.0)
        uses: actions/download-artifact@v2
        with:
          name: net5.0
      - uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: v${{ env.PLUGIN_VERSION }}
          commitish: ${{ env.GITHUB_SHA }}
          name: Deemix Plugin
          body: >
            Lidarr plugin to add Deemix support

            Minimum Lidarr Version: ${{ env.MINIMUM_LIDARR_VERSION }}
          draft: true
          prerelease: true
          files: >
            ${{ env.PLUGIN_NAME }}.net5.0.zip
          gzip: false
